<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        Ecommerce
    </a>


    <ul>
        <li class="list-group-item list-group-item-action">Dashboard</li>
        <li class="list-group-item list-group-item-action">Products</li>
        <li class="list-group-item list-group-item-action">Product Detail</li>
        <li class="list-group-item list-group-item-action">Add Product</li>
        <li class="list-group-item list-group-item-action">Customers</li>
        <li class="list-group-item list-group-item-action">Orders</li>
        <li class="list-group-item list-group-item-action">Order Detail</li>
        <li class="list-group-item list-group-item-action">Sellers</li>
        <li class="list-group-item list-group-item-action">Shopping Cart</li>
        <li class="list-group-item list-group-item-action">Checkout</li>
    </ul>
</div>